<!DOCTYPE html>
<html>
    <head>
        <title>ABOUT</title>
        <link rel="icon" href="images/icon.jpg">
        <link rel="stylesheet" href="css/styles.css">
        <script src="js/app.js"></script>
    </head>
    <body>
        <div class = "main-content">
            {{>header}}
            <img class="portrait" src="images/render.png">
        </div>
        {{>footer}}
    </body>
</html>